body {
	font-family: verdana
}

td, th {
	text-align: center;
}

th {
	background-color: black;
	color: white;
}

td {
	background-color: #f0f8ff;
}

section {
	border-bottom: 20px black solid;
}

.principal {
	width:100%;
}

.logo {
	height: 125px;
	background-color: black;
	border-bottom: 2px #3388ff  solid;
}

.logo1 {
	margin: 10px 0px 0px 70px;
	padding: 10px 0px 0px 0px;
	float: left;
}

.menu {
	float: left;
	margin: 25px 0px 0px 100px;
	word-spacing: 7px;
}

.menu ul {
	margin: 30px 60px 0px 0px;
	list-style: none;

}

.menu ul li {
	display: inline-block;
	height: 58px;
}

.menu  ul li:hover {
	border-bottom: 3px  white solid;
}

.menu a {
	text-decoration: none;
	color: #3399ff;
	font-size: 15pt;
}

.menu a:hover {
	color: white; 
}

.marina{
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.marina-1 {
	height: 500px;
	background-image: url(imagens/marinas.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.marina-2 {
	width: 60%;
	margin: auto;
	padding-top:11%;
	padding-right: 6%;
	text-align: center;
	font-size: 50pt;
}

.marina-3 {
	width: 80%;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: 20pt;
	text-align: justify;
}

.conteudo {
	height: 680px;
	background-image: url(imagens/barcos.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 5%;
	margin: 50px 0px 0px 0px;
}

.embarc {
	width: 50%;
	padding-top: 2%;
	margin: 0px 0px 0px 250px;
	text-align: justify;
	font-size: 35pt;
	color: white;
}

.text {
	width: 50%;
	padding-left: 49%;
	padding-top: 32%;
	text-align: justify;
	font-size: 15pt;
	color: white;
}

#roda-pe {
	width: 100%;
	height: 350px;
	background-color: #4c4c4c;
	border-bottom: black 90px solid;
}

#marin {
	text-align: justify;
}

#praia {
	text-align: justify;
}

#barco {
	text-align: justify;
}

.contat {
	width: 30%;
	margin: 30px auto;
	padding-right: 10%;
	text-align: justify;
	font-size: 15pt;
	line-height: 18pt;
}

.inst {
	float: left;
	margin: -100px 0px 0px 90px;
	width: 30%;
	text-align: justify;
	font-size: 15pt;
	line-height: 18pt;
}

.fee {
	float: right;
	width: -100%;
	margin: -100px auto;
	width: 26%;
	font-size: 15pt;
	text-align: justify;
}

